.bankdetailtable{
    width: 86%;
    text-align: center;
    // padding: 100px;
    font-weight: 0;
    font-size: 13px;
    
    
    }
    tr{
     text-size-adjust: 2%;
     height: 30px !important;
     

    }


    tr:hover {
        background-color: #DDDDDD;
      }


    h5{
        text-align: center;
    font-size: 4vh;
    color: blue;
    font-weight: bolder;;
    }
    
    .div{
        border: 1px solid  #F26522;;
        text-align: center;
        margin: 1%;
        margin-top: 5%;
        padding: 20px;

    }
    
    
    .div1{
        border: 1px solid red;
        text-align: center;
        margin: 1%;
        height: 20%;
        margin-top: 5%;
        padding: 32px;
    
    }
    
    // table {
    //     font-family: arial, sans-serif;
    //     border-collapse: collapse;
    //     width: 100%;
    //   }
      
    //   td, th {
    //     border: 1px solid #dddddd;
    //     text-align: left;
    //     padding: 8px;
    //   }
      
    //   tr:nth-child(even) {
    //     background-color: #dddddd;
    //   }



















