.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div {
    display: block;
}
body {
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.product .product-summary .product-title {
    margin-top: 0;
}
.product-title{
    font-family: Arial, Helvetica, sans-serif;

}
h1, h2, .h1, .h2 ,h3{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 1.42857143;
    color: #316DC3;
}
h2, .h2 {
    font-size: 2rem;
}
.product .product-summary .short-description {
    margin-bottom: 15px;
}
strong {
    color: #000000;
}
b, strong {
    font-weight: bold;
    
}
.product .product-tab {
    margin-top: 30px;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li {
    text-align: center;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
:after,:before {
    box-sizing: border-box;
}
.tab-content {
    padding: 15px;
    border: 1px solid #eeeeee;
}
.tab-content>.active {
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}