.maindiv1{
    margin-top: 4%;
    margin-bottom: 4%;
}

.main{
    margin: 3%;
}


.Category{
    color: blue;
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}
.books{
    font-size: 20px;
    text-align: center;
border-bottom: 1px dashed gray;
}