.p1{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    font-family: sans-serif;
    color: black;
font-size: 14px;
}
.p2{
    font-size: 14px;
    font-weight: 700;
    line-height: 5px;
}
@media only screen and (max-width: 996px) {
    .p1 {
      margin-left: 5px;
      margin-right: 5px;

    }
    .p2{
        font-weight: 700;
    }
  }