.mainDiv{
    margin-left: 12%;
    margin-top: 10vh;
}
//**************************************************************************  Heading style
.heading{
    color: #316dc3;
    font-weight: 600;
    font-size: 32px;
    margin-top: 3%;
    font-family: Marriweather,serif;
}
//**************************************************************************  Start Input Content
.inputDiv{
    margin-top: 2%;
    width: 98%;
}
//************************************************************************** donation name label one  style
.label1{
    font-size: 18px;
    font-weight: bold;
    font-family: "open-sans",sans-serif;
    color: #757474;
}
//************************************************************************** input one div
.input1{
    width: 98%;
    padding-left: 1%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;

}
//************************************************************************** input2 style
.input2{
    width: 98%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;


}

//************************************************************************** input3 style
.input3{
    width: 98%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;


}
//************************************************************************** input4 style
.input4{
    width: 98%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;


}
//************************************************************************** input5 style
.input5{
    width: 98%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;


}
//************************************************************************** input6 style
.input6{
    width: 98%;
    padding: 1.3%;
    font-style: 19%;
    outline: none;
    color: #333333;
    border: 1px solid #333333;

}


//**************************************************************************  button   style
.button{
    padding: 1%;
    width: 17%;
    background-color: rgb(44, 228, 44);
    margin-top: 2%;
    outline: none;
    color:white
}


// ****************************************************************payment methood Div
.paymentmethoodDiv{
    margin-top: 40%;
}

//************************************************************************** heading 2
.heading2{
    color: #316dc3;
    // font-weight: bold;
    margin-top: 3%;
    text-align: center;
    font-family: Marriweather,serif;
}

//************************************************************************** srtong style
.srtong{
    margin-left: 10%;
    text-align: center;
}

//************************************************************************** butonDonate style
.butonDonate{
    margin-left: 4%;
}