.car_Image{
    // background-image: url("https://www.saylaniwelfare.com/uploads/2019-11-101570779972.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
}



.twoButtons{
width: 80%;
margin: 1%;
}

.twoButtons:hover{
    background-color:#F26522 !important;
    color: white !important;
    border: 2px solid  #F26522 !important;
}
 









