.font-small {
  background-color: #25272e !important;
  color: red !important;
}
.span {
  color: #bebebe !important;
}
.icon {
  margin: 5px;
  color: #bebebe;
  //   padding: 10px;
}
.hr {
  background-color: #427900;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
.span2{
    border-bottom: 2px solid red !important;

}

.footer {
  font-size: 14px;
  color: white;
  line-height: 20px;
  font-family: "open-sned";
}
